.header {
  width: 100%;
  height: 100px;
  background-color: #224c98;
}

.WebContainer{
  width: 100%;
  height: auto;
}

.body{
  min-height: 100vh;
  background-color: #495273;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.title{
  flex-flow: column;
  align-items: center;
  font-family: 'DynaPuff';
  color: #4981CD;
  font-size: 3vw;
  display: flex;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(212,211,218,1) 100%);
  width: 20%;
  margin-left: 40%;
  border-radius: 50px;
  margin-top: 0.5%;
}
