.header {
  width: 100%;
  height: 100px;
  background-color: #224c98;
}

.WebContainer{
  width: 100%;
  height: auto;
}

.body{
  min-height: 100vh;
  background-color: #495273;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

video {
  max-width: 100%;
  height: auto;
}

.background-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.title{
  flex-flow: column;
  align-items: center;
  font-family: 'DynaPuff';
  color: #4981CD;
  font-size: 3vw;
  display: flex;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(212,211,218,1) 100%);
  width: 20%;
  margin-left: 40%;
  border-radius: 50px;
  margin-top: 0.5%;
}
