<div *ngIf="!settings" style="display: flex; flex-direction: column; margin-top: 20px; height: 100%;">
  <div class="titulo"*ngIf="trigger == 0">
      Matemática - Uma Aventura Alagoana 1
  </div>
  <div *ngIf="trigger == 1">
      <div class = "titulopersonagemdiv">
          <span class = "titulopersonagem">Escolha seu personagem</span>
      </div>
      <div style="text-align: center; padding-right: 15vw;">
          <div style="display:flex; justify-content:space-evenly">
              <div class="tituloscard">
                  Etnia
              </div>
              <div class="tituloscard" >
                  PCD
              </div>
          </div>
      </div>
      <div class="row">
          <div class="grid col-md-5">
              <div *ngFor="let image of data; let i = index"  [class.first-column]="i % 2 === 0">
                  <img class = "btn sol" style="width: 50%;" [src]="image.url" (click)="displayUrl = image.url ; displayName = image.name">
              </div>
          </div>
          <div class="grid2 col-md-4">
            <div *ngFor="let image of data2">
                <img class = "btn sol" [src]="image.url" (click)="displayUrl = image.url ; displayName = image.name">
            </div>
          </div>
          <div style=" margin-top: 0%; flex-direction: column;" class="displaydiv col-md-3">
              <img class = "displayimg" [src] = "displayUrl">
              <div class="personagemescolhido">{{displayName}}</div>
          </div>
      </div>
  </div>
  <div 
    class="row" 
    [ngStyle]="trigger === 0 ? { height: '95vh', alignContent: 'flex-end' } : {}"
    >
        <div  class="displaydiv col-md-10">
            <img class = "btn btnimg jogar" [src]="'../assets/imagens/jogar.png'" (click)="checkPlay()">
        </div>
      <div  class="col-md-2">
          <img class = "eng btn btnimg" [src]="'../assets/imagens/eng.png'" (click)="settings = true;">
      </div>
  </div>
</div>
<div *ngIf="settings">
  <div class = "titulopersonagemdiv">
      <span class = "titulopersonagem">Escolha sua música</span>
  </div>
  <div class = "titulomusicadiv btn">
      <span class = "titulopersonagem" (click)="passCurrentSong('');">Sem música</span>
  </div>
  <div st class = "titulomusicadiv btn">
      <span class = "titulopersonagem" (click)="passCurrentSong('../assets/imagens/musica1.mp3');">Música 1</span>
  </div>
  <div class = "titulomusicadiv btn">
      <span class = "titulopersonagem" (click)="passCurrentSong('../assets/imagens/musica2.mp3');">Música 2</span>
  </div>
  <div class = "voltar btn btnimg">
      <span class = "titulopersonagem" (click)="settings = false;">Voltar</span>
  </div>
</div>

